.webchat__send-box__main {
    padding: 15px;
    border-radius: 15px;
    z-index: 999999;
    
}

.centeredGear{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999999;
}

.webchat__icon-button {
    border-radius: 50px !important;
    background: #37a2a7 !important;
    width: 45px !important;
    height: 45px !important;
    display: flex !important;
    margin-top: 7px !important;
    justify-content: center !important;
    margin-right: 0px;
    align-items: center !important;
}

.fa-paper-plane {
    color: #fff;
}

.fa-keyboard {
    color: #37a2a7;
    font-size: 35px;
}

.mic {
    color: #fff;
    background: #37a2a7 !important;
    border-radius: 60px !important;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    width: 55px;
    height: 55px;
    text-align: center;
    position: relative;
    bottom: 70px;
    left: -10px;
    cursor: pointer;
    float: right;
    display: none;
    z-index: 1032;
    border: none;
}

.cancellmic {
    color: #fff;
    background: #37a2a7 !important;
    border-radius: 60px !important;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    width: 55px;
    height: 55px;
    text-align: center;
    position: relative;
    bottom: 70px;
    left: -10px;
    cursor: pointer;
    float: right;
    display: none;
    margin-left: 5px;
    z-index: 1032;
}

.webchat__basic-transcript{
  
}

.micios {
    color: #fff;
    background: #37a2a7 !important;
    border-radius: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 55px;
    height: 55px;
    text-align: center;
    position: relative;
    bottom: 70px;
    left: -10px;
    cursor: pointer;
}

.Logo_img {
    width: 103px;
}

input.webchat__send-box-text-box__input {
    margin-left: 80px;
    margin-right: 80px;
    border-bottom: 2px solid #ced4da !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

    input.webchat__send-box-text-box__input:focus {
        border-bottom: 2px solid #37a2a7 !important;
    }

::placeholder {
    color: #898989;
}

.webchat__basic-transcript {
    height: 500px;
}

div::-webkit-scrollbar {
    width: 15px;
}
/* Track */
div::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(rgb(76, 183, 168), rgb(76, 183, 168));
    height: 50px;
}

    div::-webkit-scrollbar-thumb:window-inactive {
        background: linear-gradient(rgb(76, 183, 168), rgb(76, 183, 168));
    }

span {
    font-size: 15px;
}

@media only screen and (max-width: 1200px) {
    input.webchat__send-box-text-box__input {
        width: 80%;
    }

    .sidebar .sidebar-brand {
        height: 4.375rem;
    }

    .navbar {
        height: 4.375rem;
    }
}

@media only screen and (max-width: 800px) {
    input.webchat__send-box-text-box__input {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    /* .sidebar{
    min-height: 78px;
  } */
    .sidebar .sidebar-brand {
        height: 3.5rem;
    }

    .navbar {
        height: 3.5rem;
    }

    .nav-item {
        margin-top: 10px;
    }

    .webchat__basic-transcript {
        height: calc(100%-10px);
        position: fixed !important;
        left: 0 !important;
        right: 0;
        bottom: 120px !important;
    }

    .Logo_img {
        width: 60px;
    }

    .cancellmic2 {
        font-size: 32px;
        width: 30px !important;
        height: 30px !important;
        margin-bottom: 25px;
        cursor: pointer;
        z-index: 1032;
        background-color: unset !important;
        color: #37a2a7;
        display: none;
    }

    .centered {
        position: fixed;
        top: 50%;
        left: 40% !important;
        transform: translate(-50%, -50%);
        z-index: 999999009;
    }

    .webchat__send-box__main {
        border-radius: 0px !important;
    }

    .toast-body {
        font-size: small;
    }

    .webchat__icon-button {
        margin-left: -8px;
        margin-top: 10px !important;
    }

    input.webchat__send-box-text-box__input {
        margin-left: 40px;
        width: 70%;
        display: none;
    }

    .mic {
        width: 90px;
        height: 90px;
        font-size: 55px;
        position: fixed;
        /* bottom: 0px;
      right: 140px; */
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999999;
    }

    .webchat__icon-button {
        background-color: unset !important;
    }

    .fa-keyboard {
        font-size: 30px;
    }

    .webchat__basic-transcript {
        margin-top: 115px;
    }

    ::placeholder {
        font-size: 10px;
    }

    input + label {
        font-size: 11px;
    }
}

.webchat__bubble__content {
    /* box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; */
    border-radius: 15px;
}

.webchat__bubble {
    border-radius: 15px;
}

fieldset {
    width: 100%;
    border: none;
    position: relative;
}

input {
    width: -webkit-fill-available;
}

    input:focus {
        outline: none;
        background: #fbfbe9;
    }

    input + label {
        display: inline-block;
        cursor: text;
        visibility: hidden;
        transition: 0.3s ease-out all;
        position: absolute;
        top: -0.2em;
        left: 5em;
    }

    input:focus + label,
    label.stay {
        top: -2em;
        left: 4em;
        font-size: 11px;
        font-weight: bold;
        color: #37a2a7;
        transition: 0.3s ease-out all;
        visibility: visible;
    }

.rotate {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


@media  (min-width: 600px) and (max-width: 1200px) {
    .centered {
        position: absolute;
       bottom:13%;
       left:82%;
        /* bring your own prefixes */
       
        z-index: 999999009;
    }
    
}
@media  (min-width: 1200px)  {
    .centered {
        position: absolute;
       bottom:90px;
       left:92%;
        /* bring your own prefixes */
       
        z-index: 999999009;
    }
    
}





.center {
    margin: auto;
    width: 50%;
    border: 0px solid green;
    padding: 10px;
    z-index: 9999990099;
}
#content-desktop {
    display: block;
}

#content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }
}


@media screen and ( max-width: 768px) {
    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }
}

.svg-inline--fa {
    vertical-align: middle !important;
}
/* carousel Style */

.ac-container {
    padding: unset !important;
}

.ac-textBlock p {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    line-height: 30.61px !important;
}

.ac-textBlock:nth-last-of-type(3) {
    color: #37a2a7 !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

.ac-textBlock:first-of-type {
    text-align: center !important;
    border-bottom: 2px solid #e0e0e0;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}

.ac-textBlock:last-child {
    text-align: center !important;
    border-top: 2px solid #e0e0e0;
    font-size: 80% !important;
    font-weight: 400 !important;
    background-color: #e0e0e0 !important;
}

.react-film__flipper__body {
    width: 40px !important;
    height: 40px !important;
    font-size: 25px !important;
    line-height: 39px !important;
    background-color: #37a2a7 !important;
    color: #fff !important;
    text-align: center !important;
    justify-content: center !important;
}

.mic_mobile {
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
}

.mic_small_mobile{
   
  
    border-radius: 60px !important;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    bottom: 70px;
    left: -10px;
    cursor: pointer;
    float: right;
    
    z-index: 1032;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 55px;
    position: fixed;
    /* bottom: 0px;
  right: 140px; */
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 95%;
    left: 88%;
    transform: translate(-50%, -50%);
    z-index: 999999;

    color: #37a2a7 ;

}


.mic:hover{
    background-color: #48c2c8  !important;
}
.webchat__icon-button:hover{
    background-color: #48c2c8  !important;
}